p-messages {
  top: 100px;
  position: fixed;
  opacity: 1;
  z-index: 100;
}
.product-badge.status-true {
    background: #C8E6C9;
    color: #256029;
}
.product-badge.status-false {
    background: #FFCDD2;
    color: #C63737;
}
.customer-badge, .product-badge, .order-badge {
    border-radius: var(--border-radius);
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
}
