.product-badge.status-opened {
    background: #C8E6C9;
    color: #256029;
}
.product-badge.status-closed {
    background: #FFCDD2;
    color: #C63737;
}
.customer-badge, .product-badge, .order-badge {
    border-radius: var(--border-radius);
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
}
p-messages {
  top: 100px;
  position: fixed;
  opacity: 1;
  z-index: 100;
}
.p-fileupload-choose {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 100px;
}

.p-fileupload-choose:hover {
  background-color: #0069d9;
}
