<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img src="assets/layout/images/Logo.webp" alt="logo" />
    <span
      ><span style="font-weight: bold">Bobazona</span
      ><span *ngIf="loginService.getRole() === 'admin'">
        {{ this.loginService.getStore() }}</span
      ></span
    >
  </a>

  <button
    *ngIf="loginService.isLogin()"
    #menubutton
    class="p-link layout-menu-button layout-topbar-button"
    (click)="layoutService.onMenuToggle()"
  >
    <i class="pi pi-bars"></i>
  </button>

  <button
    #topbarmenubutton
    class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="layoutService.showProfileSidebar()"
  >
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible
    }"
  >
    <button
      class="p-link layout-topbar-button"
      (click)="sidebarVisible = true"
      (click)="logger()"
    >
      <i class="pi pi-bell"></i>
      <span>Notification</span>
    </button>
    <button
      *ngIf="loginService.isLogin()"
      class="p-link layout-topbar-button"
      routerLink="/profile"
    >
      <i class="pi pi-user"></i>
      <span>Profile</span>
    </button>
    <button
      class="p-link layout-topbar-button"
      [routerLink]="'/login'"
      (click)="loginService.logout()"
    >
      <i class="pi pi-sign-out"></i>
      <span>Log out</span>
    </button>
  </div>
</div>

<p-sidebar [(visible)]="sidebarVisible" position="right">
  <div class="flex align-items-center justify-content-between mb-4">
    <h5>Notifications</h5>
    <div>
      <!-- <button
          pButton
          type="button"
          icon="pi pi-ellipsis-v"
          class="p-button-rounded p-button-text p-button-plain"
          (click)="menu.toggle($event)"
        ></button>
        <p-menu #menu [popup]="true" [model]="items"></p-menu> -->
    </div>
  </div>

  <span class="block text-600 font-medium mb-3">Orders feed</span>
  <ul class="p-0 mx-0 mt-0 mb-4 list-none">
    <li
      class="flex align-items-center py-2 border-bottom-1 surface-border"
      *ngFor="let order of this.newOrderData"
    >
      <div
        class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0"
      >
        <i class="pi pi-dollar text-xl text-blue-500"></i>
      </div>
      <span class="text-900 line-height-3"
        >Richard Jones
        <span class="text-700">
          New Order has been placed with arrival time
          {{ order.arrivalTime }}
          <span class="text-blue-500">79$</span></span
        >
        <br />
        <a routerLink="./orders">check Order </a>
      </span>
    </li>
  </ul>
</p-sidebar>
