<!-- orders-page.component.html -->
<p-table
  [value]="orders"
  [responsive]="true"
  [selectionMode]="'single'"
  responsiveLayout="scroll"
  [rowHover]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [paginator]="true"
  [rows]="10"
  [lazy]="true"
  (onLazyLoad)="loadOrdersLazy($event)"
  [totalRecords]="totalOrders"
  [loading]="loading"
>
  <ng-template pTemplate="header">
    <tr>
      <th>id</th>
      <th>customer</th>
      <th>arrival time</th>
      <th>pickupTime</th>
      <th>status</th>
      <th>action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
    <tr>
      <td style="width: 14%; min-width: 10rem">{{ order._id }}</td>
      <td style="width: 14%; min-width: 10rem">
        {{ order?.customer?.firstName }}
        {{ order?.customer?.lastName }}
      </td>
      <!-- Add other table columns for arrival time, pickup time, and status -->
      <td style="width: 10%; min-width: 8rem">
        {{ order.arrivalTime }}
      </td>
      <td style="width: 10%; min-width: 8rem">
        {{ order.pickUpTime }}
      </td>
      <!-- <td style="width: 10%; min-width: 8rem">
        {{ order.status }}
      </td> -->
      <td style="width: 20%; min-width: 8rem">
        <span [class]="'product-badge status-' + order.status">{{
          order.status
        }}</span>
      </td>
      <td style="width: 14%; min-width: 10rem">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          (click)="this.showDialogToEdit(order)"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-eye"
          class="p-button-rounded p-button-info mr-2"
          (click)="this.showSingleOrder(order)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Edit Status"
  [(visible)]="displayEditVoucherDialog"
  [responsive]="true"
  [modal]="true"
  [style]="{ 'max-width': '400px', 'min-height': '350px' }"
  [baseZIndex]="10000"
>
  <div class="p-fluid">
    <div class="p-field my-4">
      <label for="status">Status:</label>
      <p-dropdown
        id="status"
        [options]="[
          { label: 'pending', value: 'pending' },
          { label: 'preparing', value: 'preparing' },
          { label: 'delivered', value: 'delivered' },
          { label: 'canceled', value: 'canceled' }
        ]"
        [(ngModel)]="orderStatus"
        name="status"
      ></p-dropdown>
    </div>

    <div class="p-dialog-footer mt-8">
      <button
        pButton
        type="button"
        label="Cancel"
        class="p-button-secondary"
        (click)="hideDialogToEdit()"
      ></button>
      <button
        pButton
        type="button"
        label="Save"
        class="p-button-primary"
        (click)="updateStatus()"
      ></button>
    </div></div
></p-dialog>

<p-dialog
  header="Order #{{ singleOrder?._id }}"
  [(visible)]="singleOrderDetails"
  [responsive]="true"
  [modal]="true"
  [style]="{ width: '70vw' }"
  [maximizable]="true"
  class="order-title"
>
  <h3 class="mt-2 mb-0 text-color-secondary" style="font-family: serif">
    Order information
  </h3>
  <p-divider></p-divider>

  <div class="grid">
    <div
      class="flex flex-row justify-content-start align-items-center flex-wrap gap-6 mx-3"
    >
      <div>
        <h5 class="text-color-secondary text-900">Name:</h5>
        <h5 class="text-900">
          {{ singleOrder?.customer?.firstName }}
          {{ singleOrder?.customer?.lastName }}
        </h5>
      </div>
      <div>
        <h5 class="text-color-secondary text-900">order status :</h5>
        <h5 class="text-900">
          {{ singleOrder?.status }}
        </h5>
      </div>
      <div>
        <h5 class="text-color-secondary text-900">order time :</h5>
        <h5 class="text-900">
          {{ singleOrder?.createdAt | date : "short" }}
        </h5>
      </div>
      <div>
        <h5 class="text-color-secondary text-900">arrival time :</h5>
        <h5 class="text-900">
          {{ singleOrder?.arrivalTime | date : "short" }}
        </h5>
      </div>
      <div>
        <h5 class="text-color-secondary text-900">pickup time :</h5>
        <h5 class="text-900">
          {{ singleOrder?.pickUpTime | date : "short" }}
        </h5>
      </div>
    </div>
  </div>

  <h3
    class="single-order-headers mt-2 mb-0 text-color-secondary"
    style="font-family: serif"
  >
    Orderd Products
  </h3>
  <p-divider></p-divider>

  <div class="grid">
    <!-- <h5 class="text-color-secondary text-900">Name:</h5>
        <h5 class="text-900">
          {{ singleOrder?.customer?.firstName }}
          {{ singleOrder?.customer?.lastName }}
        </h5> -->
    <p-table
      [value]="singleOrder?.orderedProducts"
      [responsive]="true"
      class="col-12 custom-table-header"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>name</th>
          <th>picture</th>
          <th>price</th>
          <th>size</th>
          <th>quantity</th>
          <th>total</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.product.name }}</td>
          <td>
            <img
              src="{{ product.product.picture }}"
              alt=""
              class="product-img"
            />
          </td>
          <td class="text-teal-700">${{ product.product.price }}</td>
          <td>{{ product.product.size }}</td>
          <td>{{ product.quantity }}</td>
          <td class="text-teal-700">
            $ {{ handleTotal(product.product.price, product.quantity) }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="singleOrder?.orderedCustomizedProducts.length > 0">
    <div>
      <!-- Orderd Customized Products starts -->
      <h3
        class="single-order-headers mt-2 mb-0 text-color-secondary"
        style="font-family: serif"
      >
        Orderd Customized Products
      </h3>
    </div>
    <p-divider></p-divider>
    <div class="grid">
      <!-- <h5 class="text-color-secondary text-900">Name:</h5>
          <h5 class="text-900">
            {{ singleOrder?.customer?.firstName }}
            {{ singleOrder?.customer?.lastName }}
          </h5> -->
      <p-table
        [value]="singleOrder?.orderedCustomizedProducts"
        [dataKey]="'_id'"
        [responsive]="true"
        class="col-12 custom-table-header"
      >
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th>Base name</th>
            <th>Base picture</th>
            <th>Base price</th>
            <th>Flavor name</th>
            <th>Flavor price</th>
            <th>quantity</th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-customizedProduct
          let-expanded="expanded"
        >
          <tr>
            <td>
              <button
                type="button"
                pButton
                pRipple
                [pRowToggler]="customizedProduct"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              ></button>
            </td>
            <td>{{ customizedProduct.base.name }}</td>
            <td>
              <img
                src="{{ customizedProduct.base.picture }}"
                alt=""
                class="product-img"
              />
            </td>
            <td class="text-teal-700">${{ customizedProduct.base.price }}</td>
            <td>{{ customizedProduct.flavor.name }}</td>
            <td>{{ customizedProduct.flavor.price }}</td>
            <td>{{ customizedProduct.quantity }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-product>
          <tr>
            <td colspan="12">
              <p-table
                [value]="product.toppings"
                [responsive]="true"
                [tableStyle]="{ 'width.%': 100 }"
                class="custom-table-header"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>Topping name</th>
                    <th>Topping type</th>
                    <th>Topping price</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-topping>
                  <tr>
                    <td>{{ topping.item }}</td>
                    <td>{{ topping.toppingType.type }}</td>
                    <td>{{ topping.toppingType.price }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <!-- Orderd Customized Products ends -->
  </div>

  <div class="flex flex-row justify-content-end align-items-end">
    <div class="flex flex-column gap-2">
      <div class="flex flex-row gap-5 justify-content-between">
        <span class="text-2xl">SubTotal:</span>
        <span class="text-2xl"> $ {{ singleOrder?.subTotal }}</span>
      </div>
      <div class="flex flex-row gap-5 justify-content-between">
        <span class="text-2xl">Discount:</span>
        <span class="text-2xl"> $ {{ singleOrder?.discount }}</span>
      </div>
      <div class="flex flex-row gap-5 justify-content-between">
        <span class="text-3xl">Total:</span>
        <span class="text-3xl text-teal-700">
          $ {{ singleOrder?.totalPrice }}</span
        >
      </div>
    </div>
  </div>
</p-dialog>

<p-messages></p-messages>
<!-- Add this line to display messages -->
