<!-- orders-page.component.html -->
<p-table
  [value]="orders"
  [responsive]="true"
  [selectionMode]="'single'"
  responsiveLayout="scroll"
  [rowHover]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [paginator]="true"
  [rows]="10"
  [lazy]="true"
  (onLazyLoad)="loadOrdersLazy($event)"
  [totalRecords]="totalOrders"
  [loading]="loading"
>
  <ng-template pTemplate="header">
    <tr>
      <th>id</th>
      <th>customer</th>
      <th>arrival time</th>
      <th>pickupTime</th>
      <th>status</th>
      <th>action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
    <tr>
      <td style="width: 14%; min-width: 10rem">{{ order._id }}</td>
      <td style="width: 14%; min-width: 10rem">
        {{ order?.customer?.firstName }}
        {{ order?.customer?.lastName }}
      </td>
      <!-- Add other table columns for arrival time, pickup time, and status -->
      <td style="width: 10%; min-width: 8rem">
        {{ order.arrivalTime }}
      </td>
      <td style="width: 10%; min-width: 8rem">
        {{ order.pickUpTime }}
      </td>
      <!-- <td style="width: 10%; min-width: 8rem">
        {{ order.status }}
      </td> -->
      <td style="width: 20%; min-width: 8rem">
        <span [class]="'product-badge status-' + order.status">{{
          order.status
        }}</span>
      </td>
      <td style="width: 14%; min-width: 10rem">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          (click)="this.showDialogToEdit(order)"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-eye"
          class="p-button-rounded p-button-info mr-2"
          (click)="this.showSingleOrder(order)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Edit Status"
  [(visible)]="displayEditVoucherDialog"
  [responsive]="true"
  [modal]="true"
  [style]="{ width: '400px' }"
  [baseZIndex]="10000"
>
  <div class="p-fluid">
    <div class="p-field mb-3">
      <div class="p-field mb-3">
        <label for="status">Status:</label>
        <select id="status" pInputText [(ngModel)]="orderStatus">
          <option value="applied">pending</option>
          <option value="expired">preparing</option>
          <option value="expired">delivered</option>
          <option value="expired">canceled</option>
        </select>
      </div>
    </div>
    <div class="p-dialog-footer">
      <button
        pButton
        type="button"
        label="Cancel"
        class="p-button-secondary"
        (click)="hideDialogToEdit()"
      ></button>
      <button
        pButton
        type="button"
        label="Save"
        class="p-button-primary"
        (click)="updateStatus()"
      ></button>
    </div></div
></p-dialog>

<p-dialog
  header="Order #{{ singleOrder?._id }}"
  [(visible)]="singleOrderDetails"
  [responsive]="true"
  [modal]="true"
  [style]="{ width: '70vw' }"
  [maximizable]="true"
  class="order-title"
>
  <h3 class="single-order-headers mt-2 mb-0">Order information</h3>
  <p-divider></p-divider>

  <div class="grid">
    <div
      class="flex flex-row justify-content-start align-items-center flex-wrap gap-6 mx-3"
    >
      <div>
        <h5 class="text-color-secondary text-900">Name:</h5>
        <h5 class="single-order-text">
          {{ singleOrder?.customer?.firstName }}
          {{ singleOrder?.customer?.lastName }}
        </h5>
      </div>
      <div>
        <h5 class="text-color-secondary text-900">order status :</h5>
        <h5 class="single-order-text">
          {{ singleOrder?.status }}
        </h5>
      </div>
      <div>
        <h5 class="text-color-secondary text-900">order time :</h5>
        <h5 class="single-order-text">
          {{ singleOrder?.createdAt | date : "short" }}
        </h5>
      </div>
      <div>
        <h5 class="text-color-secondary text-900">arrival time :</h5>
        <h5 class="single-order-text">
          {{ singleOrder?.arrivalTime | date : "short" }}
        </h5>
      </div>
      <div>
        <h5 class="text-color-secondary text-900">pickup time :</h5>
        <h5 class="single-order-text">
          {{ singleOrder?.pickUpTime | date : "short" }}
        </h5>
      </div>
    </div>
  </div>

  <h3 class="single-order-headers mt-2 mb-0">Orderd Products</h3>
  <p-divider></p-divider>

  <div class="grid">
    <!-- <h5 class="text-color-secondary text-900">Name:</h5>
        <h5 class="single-order-text">
          {{ singleOrder?.customer?.firstName }}
          {{ singleOrder?.customer?.lastName }}
        </h5> -->
    <p-table
      [value]="singleOrder?.orderedProducts"
      [responsive]="true"
      class="col-12"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>name</th>
          <th>picture</th>
          <th>price</th>
          <th>size</th>
          <th>quantity</th>
          <th>total</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.product.name }}</td>
          <td>
            <img
              src="{{ product.product.picture }}"
              alt=""
              class="product-img"
            />
          </td>
          <td class="text-teal-700">${{ product.product.price }}</td>
          <td>{{ product.product.size }}</td>
          <td>{{ product.quantity }}</td>
          <td class="text-teal-700">
            $ {{ handleTotal(product.product.price, product.quantity) }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="grid">
    <!-- <h5 class="text-color-secondary text-900">Name:</h5>
        <h5 class="single-order-text">
          {{ singleOrder?.customer?.firstName }}
          {{ singleOrder?.customer?.lastName }}
        </h5> -->
    <p-table
      [value]="singleOrder?.orderedCustomizedProducts"
      [responsive]="true"
      class="col-12"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>name</th>
          <th>picture</th>
          <th>price</th>
          <th>size</th>
          <th>quantity</th>
          <th>total</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.product.name }}</td>
          <td>
            <img
              src="{{ product.product.picture }}"
              alt=""
              class="product-img"
            />
          </td>
          <td class="text-teal-700">${{ product.product.price }}</td>
          <td>{{ product.product.size }}</td>
          <td>{{ product.quantity }}</td>
          <td class="text-teal-700">
            $
            {{ handleTotal(product.product.price, product.quantity) }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>
